@charset "utf-8";
/* CSS Document */
body{
	
	font-family: 'rsuregular';
}
.container{
	width: 1280px !important;
}
.content_foot{
background: #edeff0;
border-bottom-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-bottom-left-radius: 3px;
-o-border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-bottom-right-radius: 3px;
-o-border-bottom-right-radius: 3px;
height:55px;
}
.col-fixed{
    margin-left:0px;
    position:fixed;
    height:55px;
}
.pre-scrollable::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
  
}



